html(ng-app='myApp')
	head
		title Math Trivia Game
		script(src="/socket.io/socket.io.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
		script(src="http://code.jquery.com/jquery-1.11.1.js")
		script(type='text/javascript' src='js/app.js')
		link(rel="stylesheet" type="text/css" href="css/styles.css")
		link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans")


	body
		div(ng-controller='UserCtrl' class="container")
			div.text-center.padded.logo Math Trivia Game

			div.row.padded
				div.span9.centered
					.box.text-center.padded(ng-show="!user_set")
						p.padded Please enter your name.
						form(ng-submit="doo()")
							input(type="text", placeholder="your name", ng-model="textbox", class="form-control padded", id="username", autocomplete="off")
					div.text-center.padded(ng-show="user_set")
						div(ng-controller='GameCtrl')
							div.question.padded {{question}}
							form(ng-submit='submitAnswer()')
								input#qanswer.padded(type='text', ng-model='user_answer', class="form-control", autocomplete="off")
						div.box.padded
							h3.padded Time until scores reset: {{time_left}}
							ul(ng-repeat="score in scores")
								li {{score.name}} - {{score.score}}


