html(ng-app='myApp')
	head
		title Math Trivia Game
		script(src="/socket.io/socket.io.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
		script(src="http://code.jquery.com/jquery-1.11.1.js")
		script(type='text/javascript' src='js/app.js')
		link(rel="stylesheet" type="text/css" href="css/styles.css")
		link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

	body
		div(ng-controller='UserCtrl' class="container")
			h1.text-center Math Trivia Game

			div.row
				div.span9.centered
					.box.text-center(ng-show="!user_set")
						p Please enter your name.
						form(ng-submit="doo()")
							input(type="text", placeholder="your name", ng-model="textbox", class="form-control", id="username", autocomplete="off")
					div.text-center(ng-show="user_set")
						div(ng-controller='GameCtrl')
							div.question {{question}}
							form(ng-submit='submitAnswer()')
								input#qanswer(type='text', ng-model='user_answer', class="form-control", autocomplete="off")
						div.box
							h3 Time until scores reset: {{time_left}}
							h3 Scores
							ul(ng-repeat="(key, value) in scores")
								li {{key}} - {{value}}


